
@font-face {
  font-family: 'Dosis-Book';
  src: url('Dosis-Book.eot?#iefix') format('embedded-opentype'),  url('Dosis-Book.woff') format('woff'), url('Dosis-Book.ttf')  format('truetype'), url('Dosis-Book.svg#Dosis-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}
